* {
  box-sizing: unset;
}
body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}
#navbarNav {
  margin-right: 100px;
}
#medium {
  margin-left: 100px;
}
#segna {
  margin-top: 12px;
}
#resume {
  margin-top: 12px;
  border-radius: 1rem;
}
#lens {
  margin-top: 12px;
}
#bell {
  margin-top: 12px;
}

.iconMediumTwitter {
  display: flex;
  justify-content: center;
}

#main-container {
  height: 100%;

  background-color: rgb(253, 246, 246);
  margin-left: 35px;

  padding-top: 10px;
}

.text-muted {
  font-size: 13px;
}

.connectToTwitter {
  font-size: 13px;
  height: 40px;
  width: 73%;
  display: inline-table;
}

.topic-footer {
  font-size: 14px;
}

.topic {
  background-color: rgb(235, 235, 235);
  width: fit-content;

  font-size: 13px;
  overflow: unset;
}

.followIcon {
  width: 14%;
  border-radius: 20rem;
  height: 10%;
}

.whoToFollow {
  margin-left: -25px;
}

.followButton {
  height: 10%;
  width: 20%;
}

.articleSavedIcon {
  width: 7%;
  border-radius: 20rem;
  height: 10%;
}

.partialFooter {
  font-size: 70%;
  margin-top: 30%;
}
#homer {
  width: 200px;
}
.user-icon {
  color: black;
  font-size: 24px;
}
.post-author {
  font-size: 10px;
}
.post-title {
  font-size: 20px;
}
#containerImg {
  width: 200px;
}
#container-card {
  padding-top: 50px;
}
.truncate {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
h3 {
  margin-left: 7px;
  font-size: 18px;
}
#title {
  font-size: 32px;
}
#description {
  font-size: 20px;
}

.small-text {
  font-size: 13px;
}
.sub-title {
  max-width: 300px;
}
